
/*********************************************
# General
*********************************************/
html{
	scroll-behavior: smooth;
}

body{
	background: #FFFFFF;
	color: #393232;
	font-family: 'Quicksand';
	font-size: 1.125rem;
	font-weight: 300;
	letter-spacing: 0.05em;

	height: 100%;
	margin: 0; 
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}

h1{
	color: #292929;
	font-family: 'Play';	
	font-size: 4.688rem;
	font-weight: 300;
}

h2{
	color: #292929;
	font-family: 'Quicksand';
	font-size: 2.5rem;
	font-weight: 300;
	text-transform: uppercase;

}

h3{
	color: #292929;
	font-family: 'Quicksand';
	font-size: 1.25rem;
	font-weight: 600;
}

ul {
	list-style-type: none;	
}

#socialmedia {
	color: #292929;
	text-decoration: none !important;
	transition: all 0.2s ease-in-out 0s;
}

#socialmedia:hover {
	transition: all 0.2s ease-in-out 0s;
	color: #acd595;	
	transform:scale(1.1);
}

#socialmedia:focus {
	color: #acd595;
}
/*#navoption {
	color: #292929;
	text-decoration: none !important;
	transition: all 0.2s ease-in-out 0s;
}

#navoption:hover {
	transition: all 0.2s ease-in-out 0s;
	color: #acd595;	
}

#navoption:focus {
	color: #acd595;
}
*/
#navoption {
	box-shadow: inset 0 0 0 0 #acd595;
	margin: 0 -.25rem;
	padding: 0 .25rem;
	transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
	color:#292929;
  }
#navoption:hover {
	background-color: #acd595;
  }

p {
	margin: 0 0;
	padding: 0;
	font-size: 0.938rem;
	font-weight: 300;
	color: #5A5A5A;
	line-height: 1.75rem;
}

/* Pages */
/*********/
.fullpage{
	width: 100%;
	height: 100vh;
}
.semifullpage{
	width: 100%;
	height: 70vh;
}

.halfpage{
	width: 100%;
	height: 60vh;
	padding: 10vh 0;
}

.quarterpage{
	width: 100%;
	height: 20vh;
	padding: 5vh 0 0 0;
}

/*******************************************
# Containers and Wrappers
*******************************************/
.container-center{
	max-width: 65%;
	margin: 6.25rem auto;	
	padding: 0 0;
}

.container-split{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: space-between;
}

.container-center{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
}

.container-rows{
	display: flex;
	flex-direction:row;
	justify-content:center;
	text-align:center;
	grid-template-areas:"row1 row2";
}
.row1{
	grid-area: row1;
}
.row2{
	grid-area:row2;
}
.container-columns{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.col-30-70{
	display: grid;
	grid-template-columns: 3fr 7fr;
	grid-template-areas: "col1 col2";
	}
	
.col-30-70-gap{
	display: grid;
	grid-template-columns: 3fr 7fr;
	grid-template-areas: "col1 col2";
	grid-column-gap: 1em;
	}
	
.col1{
	grid-area: col1;
	}
.col2{
	grid-area: col2;
	}
.col-30-70 p{
	margin: 0 0;
	padding: 0;
	font-size: 0.875rem;
	font-weight: 400;
	color: #5A5A5A;
	line-height: 1.563rem;
}
.container-rows{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: .5s ease-in;
	background: #E0A000;
}

.overlay-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.overlay-center i{
	color: #FFFFFF;
	font-size: 7rem;
}


/******************************************
# Navigation Bar
*******************************************/
nav{
	position: fixed;
	background-color: #FFFFFF;
	width: 100%;
	height: 3.5rem;
	padding: 0.625rem 0rem;
	z-index: 1;
	box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
}

#navbar-home{
	margin-left: 10vw;
}

#navbar-home:hover{
	transform:scale(1.02);
	transition: all 0.2s ease-in-out 0s;
	background-color: #acd595;
}

#navbar-logo{
	width: auto;
	height: 3.125rem;
}

#navbar-logo:hover{
	transform:scale(1.02);
	transition: all 0.2s ease-in-out 0s;
}

#navbar-links{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 12vw;
	font-size: 1.2rem;
}

#navbar-links a{
	margin-left: 3.125rem;
}


/*****************************************
# Intro Page 1
*****************************************/

.background {
	background-color: #F8F7F3;
	background-image: url('/resources/leafbackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	height: 60%;
	overflow: hidden;
	filter: blur(2px);
}
.banner {
	background-color: #F8F7F3;
	background-image: url('/resources/leafbackground.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	height: 85%;
	overflow: hidden;
	filter: blur(2px);
}

#intro {	
	top: 40%;
	left: 37.5%;
	position: absolute;	
	transform: translate(-50%, -50%);
}

#intro h1{
	padding: 0 0 0 0;
}

/*************************************
# Profile 
*************************************/
#inside{
	margin-left: 6.25rem;
}
#profile{
	padding: 5vh 0;
}

#profile-picture{
	margin-bottom: 2vw;
	margin-left: 2vw;

}
#profile-picture:hover{
	transform:scale(1.02);
	transition: all 0.2s ease-in-out 0s;
}

#picture{
	width: 15vw;
	height: auto;
	border-radius: 10%;
	box-shadow: 1px 0px 10px 0px grey;
}

#profile-content{
	padding: 0vh 0 0 5vw;
	margin-right: 13vw;
}

#profile-content h3{
	padding: 0 0 10rem 0;
}
#profile-content h4{
	padding-bottom: 1rem;
}

#profile-header{
	text-align: left;
	margin-left: .5rem;
	margin-bottom: 1rem;
}

#profile-header h3 {
	font-size: 2.2rem;
}


/**************************************
# Portfolio
***************************************/

#page3{
	background-color: rgba(248, 247, 243);
}

#portfolio-content{
	padding-top: 10vh;
	width: 100%;
}

#portfolio-list{
	padding: 0 0;
	display: flex;
	flex-wrap: wrap;
}

#portfolio-list li{
	position: relative;
	padding: 0.625rem;
}

#portfolio-list a{
	position: relative;
	max-width: 25rem;
	display: block;
	cursor: pointer;
}

#portfolio-list socialmedia:hover .overlay{
	opacity: 0.75;
}

#portfolio-list img{
	height: 23vh;
	width: 20vw;
}

/**************************************
# Skills 
**************************************/


#skills-content{
	padding-top: 5vh;
	width: 100%;
}

#skills-list{
	padding: 0 0;
	display: flex;
	flex-wrap: wrap;
}

#skills-list li{
	padding: 2rem;
}

#skills-list img{
	height: auto;
	width: 6vw;
	padding: 0 1vw;
}

#skills-list h3{
	padding: 0.625rem 0;
}


/*************************************
# Tools
*************************************/

#page5{
	background-color: rgba(248, 247, 243);
}

#tools-content{
	padding-top: 5vh;
	width: 100%;
}

#tools-list{
	padding: 0 0;
	display: flex;
	flex-wrap: wrap;
}

#tools-list li{
	padding: 2rem;
}

#tools-list img{
	height: auto;
	width: 6vw;
	padding: 0 1vw;
}

#tools-list h3{
	padding: 0.625rem 0;
}


/*************************************
# Contact
*************************************/

#contacts-content{
	display: flex;
	flex-direction: column;
	text-align: center;
}

#contacts-list{
	padding: 0;
}

#contacts-icons{
	padding: 1.25rem 5vw;
	font-size: 2.5rem;
}

#contacts-content p{
	padding-bottom: 0.938rem;
	font-family: 'Poppins' Helvetica;
	text-transform: uppercase;		
}